@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

.section_mb {
    margin-bottom: 160px;
}

.navbar_link {
    font-family: DM Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
    vertical-align: middle;
    color: #15a1b7;
}

.navbar_link:hover {
    color: #148192;
}

.navbar_link:active {
    color: #148192 !important;
}

.navbar_link:focus {
    color: #148192 !important;
}

.navbar_btn {
    background-color: #15a1b7;
    border-radius: 8px;
    padding: 10px 24px;
    font-family: DM Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    display: inline-block;
}

.navbar_btn:hover {
    background-color: #148192;
}

.soc_links {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    gap: 24px;
}

footer a {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #1e3751;
}

footer a:hover {
    color: #1b3046;
}

#home_banner {
    background-image: url("../img/banners/home.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 140px;
    padding-bottom: 170px;
}

#home_banner .col-md-6 {
    max-width: 600px;
}

#home_banner .col-md-6 > h1 {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #15a1b7;
}

#home_banner .col-md-6 > p {
    font-family: DM Sans;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #ffffff;
    margin-bottom: 40px;
}

#home_info .home_info_box {
    margin-bottom: 32px;
    border: 1px solid #15a1b7;
    border-radius: 12px;
    padding: 24px;
}
#home_info .home_info_box > .title {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #15a1b7;
}

#home_info .home_info_box > h2 {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #1e3751;
}

#home_info .home_info_box > p {
    font-family: DM Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #1e3751;
}
#home_info .home_info_box > .hr {
    margin: 24px 0;
    display: block;
    border-radius: 2px;
}

#how_it_works {
    text-align: center;
}

#how_it_works > .title {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #15a1b7;
}

#how_it_works > .container h2 {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #15a1b7;
}

#how_it_works > .container p {
    font-family: DM Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #1e3751;
}

#happens .title {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #15a1b7;
    margin-bottom: 40px;
}

#happens .happens_box {
    border: 1px solid #15a1b7;
    border-radius: 12px;
    padding: 24px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    gap: 20px;
}

#happens .happens_box > span {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0.1px;
    text-align: center;
    vertical-align: middle;
    color: #15a1b7;
}

#happens .happens_box h3 {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #15a1b7;
}

#happens .happens_box p {
    font-family: DM Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #1e3751;
}

#testimonials > .title {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.1px;
    text-align: center;
    vertical-align: middle;
    color: #15a1b7;
    max-width: 600px;
    margin: 0 auto;
}

#testimonials .testimonials_box {
    max-width: 316px;
    box-shadow: 0px 1px 2px 0px #0000004d;
    border-radius: 16px;
    padding: 24px;
    margin: auto;
}

#testimonials .testimonials_box .testimonials_author {
    font-family: DM Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #1e3751;
}

#testimonials .testimonials_box > .testimonials_text {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #1e3751;
    margin-bottom: 24px;
}

#testimonials .testimonials_box > .testimonials_loc {
    font-family: DM Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #15a1b7;
}

#testimonials .owl-carousel .owl-stage-outer {
    padding: 40px 0;
}
