@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

ul > li {
    list-style: none;
}

.section_mb {
    margin-bottom: 160px;
}

.navbar_link {
    font-family: DM Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
    vertical-align: middle;
    color: #15a1b7;
}

.navbar_link:hover {
    color: #148192;
}

.navbar_link:active {
    color: #148192 !important;
}

.navbar_link:focus {
    color: #148192 !important;
}

.navbar_btn {
    background-color: #15a1b7;
    border-radius: 8px;
    padding: 10px 24px;
    font-family: DM Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    display: inline-block;
}

.navbar_btn.white {
    background-color: #ffffff;
    color: #15a1b7;
    outline: 1px solid #15a1b7;
}

.navbar_btn.white:hover {
    background-color: #15a1b7;
    color: #ffffff;
    outline: 1px solid #ffffff;
}

.navbar_btn:hover {
    background-color: #ffffff;
    color: #15a1b7;
    outline: 1px solid #15a1b7;
}

.soc_links {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    gap: 24px;
}

footer a {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #1e3751;
}

footer a:hover {
    color: #1b3046;
}

#home_banner {
    background-image: url("../img/banners/home.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 140px;
    padding-bottom: 170px;
}

#home_banner .col-md-6 {
    max-width: 600px;
}

#home_banner .col-md-6 > h1 {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #15a1b7;
}

#home_banner .col-md-6 > p {
    font-family: DM Sans;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #ffffff;
    margin-bottom: 40px;
}

#home_info .home_info_box {
    margin-bottom: 32px;
    border: 1px solid #15a1b7;
    border-radius: 12px;
    padding: 24px;
}
#home_info .home_info_box > .title {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #15a1b7;
}

#home_info .home_info_box > h2 {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #1e3751;
}

#home_info .home_info_box > p {
    font-family: DM Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #1e3751;
}
.hr {
    margin: 24px 0;
    display: block;
    border-radius: 2px;
}

#how_it_works {
    text-align: center;
}

#how_it_works > .title {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #15a1b7;
}

#how_it_works > .container h2 {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #15a1b7;
}

#how_it_works > .container p {
    font-family: DM Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #1e3751;
}

#happens .title {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #15a1b7;
    margin-bottom: 40px;
}

#happens .happens_box {
    border: 1px solid #15a1b7;
    border-radius: 12px;
    padding: 24px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    gap: 20px;
}

#happens .happens_box > span {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0.1px;
    text-align: center;
    vertical-align: middle;
    color: #15a1b7;
}

#happens .happens_box h3 {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #15a1b7;
}

#happens .happens_box p {
    font-family: DM Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #1e3751;
}

#testimonials > .title {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.1px;
    text-align: center;
    vertical-align: middle;
    color: #15a1b7;
    max-width: 600px;
    margin: 0 auto;
}

#testimonials .testimonials_box {
    max-width: 316px;
    box-shadow: 0px 1px 2px 0px #0000004d;
    border-radius: 16px;
    padding: 24px;
    margin: auto;
}

#testimonials .testimonials_box .testimonials_author {
    font-family: DM Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #1e3751;
}

#testimonials .testimonials_box > .testimonials_text {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #1e3751;
    margin-bottom: 24px;
}

#testimonials .testimonials_box > .testimonials_loc {
    font-family: DM Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #15a1b7;
}

#testimonials .owl-carousel .owl-stage-outer {
    padding: 40px 0;
}

#faq .title {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    text-transform: capitalize;
    color: #15a1b7;
    max-width: 600px;
    margin: 0 auto 40px;
    text-align: center;
}

#faq .accordion-item {
    margin-bottom: 24px;
}

#faq .accordion-button {
    border: 1px solid #d4f3f8;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px #0000004d;
    font-family: DM Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #49454f;
}

/* Start services page */
#services_banner {
    position: relative;
    background-image: url("../img/banners/services.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 210px;
    padding-bottom: 210px;
}

#services_banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000066;
    z-index: 2;
}

#services_banner h2 {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: 0.1px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    max-width: 850px;
    margin: auto;
    position: relative;
    z-index: 3;
}

#accurate h2 {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.1px;
    color: #15a1b7;
    margin-bottom: 16px;
}

#accurate p {
    font-family: DM Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #1e3751;
}

#accurate .accurate_item {
    border: 1px solid #15a1b7;
    border-radius: 12px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 24px;
}

#accurate .accurate_item > h3 {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #1e3751;
    margin-bottom: 0;
}

#services_info .item {
    border: 1px solid #15a1b7;
    border-radius: 12px;
    padding: 24px;
    margin-bottom: 32px;
}

#services_info .item > h2 {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #1e3751;
}

#services_info .item > p {
    font-family: DM Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #1e3751;
    margin-bottom: 24px;
}

#services_info .item > p:last-child {
    margin-bottom: 0;
}

#support p {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.1px;
    color: #1e3751;
    margin-bottom: 40px;
    max-width: 738px;
}

#support .support_box {
    border: 1px solid #15a1b7;
    border-radius: 12px;
    padding: 40px;
    display: flex;
    align-items: center;
}

#plans > .title {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.1px;
    text-align: center;
    margin: 0 auto 40px;
    color: #15a1b7;
    max-width: 640px;
}

#plans > .plans {
    display: flex;
    align-items: center;
    gap: 32px;
}

#plans .plan {
    border: 1px solid #15a1b7;
    border-radius: 12px;
    padding: 24px;
    background: #eaf9fc;
    max-width: 432px;
}

#plans .plan.white {
    background: #15a1b7;
    border: 1px solid #eaf9fc;
    color: #ffffff;
}

#plans .plan > h2 {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #15a1b7;
}

#plans .plan > p {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #1e3751;
}

#plans .plan > .price {
    font-family: DM Sans;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #15a1b7;
    margin-bottom: 40px;
}

#plans .plan > ul {
    padding-left: 0;
    margin-bottom: 72px;
}

#plans .plan > ul > li {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

#plans .plan > ul > li > p {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #1e3751;
}

#plans .plan.white > h2,
#plans .plan.white > p,
#plans .plan.white > ul > li > p {
    color: #ffffff;
}

#what_included > .what_included {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#what_included h2 {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.1px;
    color: #15a1b7;
    margin-bottom: 40px;
}

#what_included ul {
    padding-left: 0;
}

#what_included ul > li {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    font-family: DM Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #1e3751;
    text-align: left;
}

#ready {
    background-image: url("../img/ready_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 80px 0;
}

#ready .title {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.1px;
    color: #ffffff;
    margin: 0 auto 40px;
    max-width: 664px;
}

/* End services page */

/* Start sign pahge */
.sign_form {
    border: 1px solid #15a1b7;
    border-radius: 12px;
    margin: auto;
    max-width: 550px;
    padding: 40px 24px;
}

.sign_form > h2 {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #15a1b7;
    margin-bottom: 16px;
}
.sign_form > h3 {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #1e3751;
    margin-bottom: 40px;
}

.sign_form input {
    border: 1px solid #1e3751;
    border-radius: 8px;
    margin-bottom: 16px;
}

.sign_form button {
    margin-top: 26px;
}

.sign_form small {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #1e3751;
    margin-bottom: 16px;
    display: block;
}

.sign_account {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.sign_account p {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #1e3751;
}

.form-check p > a,
.sign_account p > a {
    font-family: DM Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
    vertical-align: middle;
    color: #15a1b7;
    text-decoration: none;
}

.form-check p {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    color: #1e3751;
}
.form-check .form-check-input {
    margin-top: 10px;
}

.sign_bg {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    font-size: 14px;
    color: #ffffff;
    max-width: 700px;
}

.sign_bg > h1 {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: 0.1px;
    vertical-align: middle;
}

.sign_bg > h2 {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    vertical-align: middle;
}
/* End sign pahge */
